#above-search-tool {
  height: 100px;
}

#image-above-search-tool {
  height: 210px;
  text-align: center;
}

#search-tool {
  text-align: center;
}

#search-bar {
  height: 35px;
  width: 40%;
}

#micDiv {
  position: relative;
  display: inline-block;
  height: 35px;
  right: 20px;
}

#mic {
  height: 23px;
  vertical-align: middle;
}
